Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
  <input type="text" id="comment" name="comment[texto]" value=""/> <p>
  <a href="/quizes/<%=quizid%>" >
  	<button type="button" >Cancelar</button></a>
  <button type="submit">Enviar</button>
</form>