<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Preguntas</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" >
	<link rel="stylesheet" 
			type="text/css" 
			media='only screen and (min-width: 600px) and (min-device-width: 481px') href="/stylesheets/wide.css">
	<link rel="stylesheet" 
			type="text/css" 
			media='only screen and (max-width: 480px') 
			href="/stylesheets/smartphone.css">

	<!-- visualizo un reloj para ayudar a comprobar logout -->
	<script type="text/javascript" src="/javascripts/show-clock.js"></script>
</head>

<body onload="showClock()">
<div id="page-wrap">

	<header class="main" id="h1">

	    <%if(!session.user){%>
	    	<!-- Botón login porque no hay sesión inicializada -->
	    	<span class="right"><a href="/login">Login</a></span>
	    <%}else{%>
	    	<!-- Botón logout porque hay sesión iniciliazada -->
	    	<span class="right"> <%=session.user.username%> <a href="/logout">Logout</a></span>
	    <%}%>

		<h2>Quiz<span>: el juego de las preguntas</span></h2>
	</header>

	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Inicio</a></span> 
		<span><a href="/quizes">Preguntas</a></span>
		<span><a href="/quizes/statistics">&Sigma;stad&iacute;ticas</a></span> 
		<span><a href="/author">Créditos</a></span> 

	</nav>
	
	<section class="main" id="s1">
		<% if (errors.length > 0) { %>
			<span id='ErrorMsgs'>
				Corregir errores:<br>
				<% for (var i in errors) { %>
					<span> <%= errors[i].message %> </span><br>
				<% } %>
			</span>
		<% } %>

		<div><%- body %></div>
	</section>

	<footer class="main" id="f1">
		<span id="sequelize_ver" ><a  href="http://docs.sequelizejs.com/en/1.7.0/docs/models/">Sequelize v-1.7.0</a></span>
		<span><a href="http://es.wikipedia.org/wiki/Quiz">
			¿Qué es un Quiz?
		</a></span>
		<span><a href="https://github.com/pmjformacion/quiz-2015-pmjformacion">Mi proyecto en GitHub</a></span>
		<span id="liveclock">Hora actual</span>
		<%if(session.user) {
			var hora = new Date(session.user.lastTime); 
			hora = hora.toTimeString().match(/^.{1,8}/);
		%>
			<span id="lastTime"> last: <%= hora %></span>
		<% } %>
	</footer>

</div>	
</body>

</html>