*						{margin: 0; padding: 0;}
body   					{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap > .main  	{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

#ErrorMsgs				{color: #f61; font-size: smaller;}						 

.author-picture  		{height: 60px; width: 60px; border: 2px solid blue;
						 display: inline;}

section > div    		{padding: 20px;}
header, nav, section  	{background: #eee; text-align: center;}
footer     				{background: #eee; text-align: center; font-variant: small-caps;}
nav span, footer span	{margin: 0px 10px 0px 0px;}
.item-author span  		{margin: 0px 10px 0px 0px;}
.item-author			{margin-top: 10px; text-align: left;}

table 					{ text-align: left}

/* todos los td hjos menos menos el primero */
td:nth-child(1)		{padding: 0px 15px 0px 0px;}