<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h2>Quiz: el juego de las preguntas</h2>

	<form action="/quizes/answer" method="get">
		Pregunta: <%= pregunta %> <p>
		<input type="text" name="respuesta" values="Responde aquí">
		<input type="submit" value="Enviar">
	</form>
</body>
</html>